body {
    font-size: 12px;
}

.red-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 144px;
}

.red-div {
    background-color: #eaa59c;
    border: 1px solid black;
}

.green-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 252px;
}

.green-div {
    text-align: left;
    background-color: #bceca4;
    border: 1px solid black;
    grid-row-end: span 2;
}

.first-row {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.first-column {
    grid-column: 1 / 2;
    grid-row: 3 / 8;
}