.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: azure;
  border: solid #0056b3;
}
.note-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 65vh;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 24px;
  margin: 0 0 1rem 10%;
}
.notebox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: rgb(169, 251, 224);
  max-width: 10rem;
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 10%;
  max-height: 20%;
  border: solid rgb(157, 231, 207);
}
.notebox p {
  margin: 0;
  margin-left: 0.5rem;
  flex: 1;
  word-wrap: break-word;
}
.xbox {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 6px 9px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0.5em;
  align-self: flex-start;
}
.xbox:hover {
  background-color: #d32f2f;
}
input[type="checkbox"] {
  transform: scale(1.5);
}
.complete {
  background-color: rgb(249, 187, 226);
  border: solid rgb(219, 165, 199);
}
.complete p {
  text-decoration: line-through;
}
.ourForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourForm input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.ourForm input[type="submit"] {
  width: 150px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.ourForm input[type="submit"]:hover {
  background-color: #0056b3;
}
