.button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.pressedButton {
  background-color: #7400b3;
}

.rowofthings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bingobuttons {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
}

.green-tile {
  background-color: #bceca4;
}

.red-tile {
  background-color: #f35f5f;
}

.black-tile {
  color: white;
  background-color: rgb(48, 23, 23);
}

.bingo-container {
  display: flex;
  flex-direction: column;
}

.bingo-row {
  display: flex;
  justify-content: center;
}

.bingo-tile {
  flex: 1;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 2px;
  padding: 0.5rem;
  cursor: default;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 7rem;
  min-width: 3rem;
  height: 4rem;
}
