body {
    font-family: Arial, sans-serif;
    background-color: #c4df8f;
    margin: 0;
    padding: 0;
  }
  
.container {
    max-width: 80vh;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}