.person {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #a5df92;
    border: 1px solid #2ca706;
    border-radius: 5px;
}
  
.person p {
    color: #0d1038;
    font-size: 1rem;
}
