body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

p {
    font-size: 18px;
    color: #333;
}

/* Styling for all car-container div */
.car-container {
    background-color: #bcf0df;
    color: #333;
    padding: 20px; /* Padding around the entire car-container */
    border: 1px solid #ccc; /* Border color, style, and thickness */
    border-radius: 15px; /* Rounded corners */
}

.car-info {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid #333; /* Border color, style, and thickness */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Margin between each car-info div */
}

.car-icon {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.car-details {
    font-family: Arial, sans-serif;
}

.car-details h2 {
    margin-top: 0;
}

.car-details p {
    margin: 5px 0;
}

/* Styling for red-car div */
.red-car {
    background-color: #ffcccc;
    color: #990000;
    border-color: #ff6666; /* Border color for red-car div */
}

.mirror-image {
    transform: scaleX(-1);
}

.rotate-image {
    transform: rotate(-90deg);
}
