body {
    font-size: 12px;
}

.spaced-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 144px;
}

.spaced-div {
    background-color: #bceca4;
    border: 1px solid black;
    width: 10%;
}

.tight-container {
    width: 100%;
    display: flex;
    height: 72px;
}

.tight-div {
    flex-grow: 1;
    text-align: left;
    background-color: #eaa59c;
    border: 1px solid black;
}

.triple-size {
    flex-grow: 3;
}