body {
    font-size: 12px;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 75vh;
    padding: 50px;
}

.toprow {
    flex: 0 1 auto;
    text-align: left;
    height: 20%;
}

.bottomrowcontainer {
    display: flex;
    flex: 1;
}

.halfrow {
    flex: 1;
    text-align: left;
}

.red {
    background-color: #eaa59c;
}
.green {
    background-color: #bceca4;
}
.blue {
    background-color: #5e9ada;
}
.yellow {
    background-color: rgb(243, 243, 139);
    transition: background-color 0.5s ease;
}