.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
}
  
.box {
    display: grid;
    place-content: center;
    text-align: center;
    padding: 10px;
    background-color: #f06262;
    border: 1px solid #ccc;
    word-wrap: break-word;
    border-radius: 10px;
}

.nerdy {
    background-color: #f0a762;
}

.selected {
    border: 2px solid #070707;
}
  
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}