body {
  font-family: Arial, sans-serif;
  background-color: #e5e9ef;
  margin: 0;
  padding: 0;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}